---
layout: default
meta-refresh:  "5;URL=<%= redirecturl%>"
---

<div class="block">
  <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Connecting to Google...</h2>
          <br/>
          <p>You are linking your Google account to <%= appname%>.</p>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-sm-12">
          <a class="button-link" href="<%= redirecturl%>">Continue</a>
        </div>
      </div>
  </div>
</div>
