---
layout: default
---

<div class="block">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>The current environment is: <%= env_name%></h2>
          <h3>Branch: <%= branch%></h3>
          <h3>Revision: <%= revision%></h3>
        </div>
      </div>
  </div>
</div>
