        <!-- Footer starts -->
        
        <footer>
            <div class="container">
                
                <div class="row">
                    <div class="col-md-12 copy text-center">
                            <div class="copy-text">&copy; 2014-2015 <a href="/index.html">Codolutions</a></div>
                    </div>
                </div>
                
            </div>
        </footer>
        
        <!-- Footer Ends -->
            
        <!-- Scroll to top -->
        
        <span class="totop"><a href="#.home"> <i class="fa fa-chevron-up"></i> </a></span> 
        
        <!-- Javascript files -->
        <!-- jQuery -->
        <script src="/js/jquery.js"></script>
        <!-- Bootstrap JS -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- JQuery PrettyPhoto Js -->
        <script src="/js/jquery.prettyPhoto.js"></script>
        <!-- Respond JS for IE8 -->
        <script src="/js/respond.min.js"></script>
        <!-- HTML5 Support for IE -->
        <script src="/js/html5shiv.js"></script>
        <!-- Custom JS -->
        <script src="/js/custom.js"></script>
        <!-- JavaScript For This Page -->
        <script type="text/JavaScript">
            jQuery(".prettyphoto").prettyPhoto({
               overlay_gallery: false, social_tools: false
            });
        </script>   
        <!-- Slippery -->
        <script src="/js/slippry/slippry.min.js"></script>
        <script>
            jQuery('#CatchUpImages').slippry();
            jQuery('#RadioJanvanImages').slippry();
            jQuery('#RelayMeImages').slippry();
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-54313828-1', 'auto');
          ga('send', 'pageview');

        </script>
